<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Q&amp;A</title>

        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">  
        <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/css/animate.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="container-fluid">

            <!-- Banner -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>	
                        <!-- Slider  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="images/banner.jpg"  alt="banner"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- Slides -->
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Header Nav -->
            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/"><img class="logoIMD" src="images/logo1.jpg" alt="logo" /></a></div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 emptyspacing"></div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3 ">
                                <div class="wrap ">
                                    <form action="#" method="post" class="form">
                                        <div class="pull-left txt"><input type="search" name="search" id="search" class="form-control" placeholder="Search Topics"></div>
                                        <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left btnStart">                         
                                <a href="/newtopic" class="btn btn-primary">Start New Topic</a>
                            </div>

                            <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#"><img class="avatarNav" src="images/avatarNav.jpg" alt="" /></a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profilefacebook">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="/mytopics">My Topics</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="/logout">Logout</a></li>
                                </ul>
                            </div>

                            <div class="pull-right btnRegLog">                            
                                <a href="/signup" class="btn btn-primary">Sign Up</a>
                                <a href="/signin" class="btn btn-primary">Sign In</a>
                            </div>                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <section class="content">
                <br><br>
                <div class="container">
                    <div class="row">
                    <div class="col-lg-12 col-md-12">
                     <p><%= error %><br /><%= message %></p>

                        </div>
                        <div class="col-lg-4 col-md-4">


                        </div>
                    </div>
                </div>

                <!-- Pagenation -->        
                <!-- <div class="container pager">
                    <div class="row">
                        <div class="col-lg-8 col-xs-12">
                            <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                            <div class="pull-left">
                                <ul class="paginationforum">
                                    <li class="hidden-xs"><a href="#" class="active" >1</a></li>
                                    <li class="hidden-xs"><a href="#">2</a></li>
                                    <li class="hidden-xs"><a href="#">3</a></li>
                                    <li class="hidden-xs"><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li class="hidden-xs"><a href="#">9</a></li>
                                    <li class="hidden-xs"><a href="#">10</a></li>
                                    <li class="hidden-xs hidden-md"><a href="#">11</a></li>
                                    <li class="hidden-xs hidden-md"><a href="#">12</a></li>
                                    <li class="hidden-xs hidden-sm hidden-md"><a href="#">13</a></li>
                                    <li><a href="#">20</a></li>
                                </ul>
                            </div>
                            <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div> -->

                <br><br>

            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="/"><img class="logoIMD" src="images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5  copyright">Copyright 2015</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script> 
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="javascripts/livereload.js"></script>
       
        <script type="text/javascript">
            
            var x;

            jQuery(document).ready(function() {
                "use strict";
                x = jQuery('.tp-banner').revolution(
                        {
                            delay: 15000,
                            startwidth: 1200,
                            startheight: 278,
                            hideThumbs: 10,
                            fullWidth: "on"
                        });
            });	


            $(document).ready(function()
            {
                 $('#search').on('keyup', function(e){
                   if(e.keyCode === 13) 
                   {
                        

                        
                    };
                 });

                 console.log(parameters);
            }); 
             

           

        </script>

    </body>
</html>