<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Q&amp;A</title>

        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">  
        <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body onLoad="geoLoc(topicForm)">

        <div class="container-fluid">

             <!-- Banner -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>    
                        <!-- Slider  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="images/banner.jpg"  alt="banner"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- Slides -->
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Header Nav -->
            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/"><img class="logoIMD" src="images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 emptyspacing"></div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="#" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                                    <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left btnStart">                            
                                <a href="/newtopic" class="btn btn-primary">Start New Topic</a>
                            </div>

                            <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#"><img src="images/avatarNav.jpg" alt="" /></a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profilefacebook">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="/mytopics">My Topics</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="/logout">Logout</a></li>
                                </ul>
                            </div>

                            <div class="pull-right btnRegLog">                            
                                <a href="/signup" class="btn btn-primary">Sign Up</a>
                                <a href="/signin" class="btn btn-primary">Sign In</a>
                            </div>    
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container">
                    <!-- Breadcrumbs -->
                    <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                            <a href="/">Home</a> <span class="diviver">&gt;</span> <a href="/newtopic">New Topic</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                            <!-- POST -->
                            <div class="post">
                                <form action="/newtopic" class="form newtopic" name="topicForm" method="post">
                                    <div class="topwrap">
                                   <!--      <div class="userinfo pull-left">
                                            <div class="avatar">
                                                <img src="images/avatar.jpg" alt="" />
                                            </div>
                                        </div> -->

                                        <div class="posttextnewtopic pull-left">
                                            <div>
                                                <input id="TopicTitle" name="topicTitle" type="text" class="form-control" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Enter a topic':this.value;" value="Enter a topic " />
                                            </div>
                                            <div>
                                                <textarea id="TopicDescription" name="topicDescription" class="form-control" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Description':this.value;">Description</textarea>
                                            </div>
                                            <div>
                                                <input id="longitude" type="hidden" name="longitude" value="">
                                                <input id="latitude" type="hidden" name="latitude" value="">
                                                <input id="coordinates" type="hidden" name="coordinates" value="">
                                            </div>
                               
                                            <!-- To test localstorage retrieval of the user id -->
                                            <!-- <div id="result"></div> -->
                                            <input type="hidden" id="resultFB" name="userIdFB" value="">
                                            <input type="hidden" id="resultTW" name="userIdTW" value="">
                                            <input type="hidden" id="usernameFB" name="usernameFB" value="">
                                            <input type="hidden" id="usernameTW" name="usernameTW" value="">
                                            <input type="hidden" id="localUsername" name="localUsername" value="">
                                          
                                            <!-- <input type="hidden" id="resultLocal" name="userIdLocal" value=""> -->

                                 <!--            <div class="row newtopcheckbox">
                                                <div class="col-lg-6 col-md-6">
                                                    <div>
                                                        <p>Share on Social Networks</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" id="fb"/> <i class="fa fa-facebook-square"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" id="tw" /> <i class="fa fa-twitter"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end --> 
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>        

                                    <div class="postinfobot">
                                        <!-- <div class="notechbox pull-left">
                                            <input type="checkbox" name="note" id="note" class="form-control" />
                                        </div>

                                        <div class="pull-left">
                                            <label for="note"> Email me when some one post a reply</label>
                                        </div> -->

                                        <div class="pull-right postreply">
                                            <div class="pull-left"><button type="submit" id="btnPostTopic" class="btn btn-primary">Post</button></div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>    
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="/"><img class="logoIMD" src="images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 copyright ">Copyright 2015</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="javascripts/livereload.js"></script>

        <script type="text/javascript">
            var revapi;

            jQuery(document).ready(function() 
            {
                "use strict";
                revapi = jQuery('.tp-banner').revolution(
                {
                    delay: 15000,
                    startwidth: 1200,
                    startheight: 278,
                    hideThumbs: 10,
                    fullWidth: "on"
                });
            });	

            // Geolocation

            var lati = "";
            var longi = "";
            var coord = "";

            function geoLoc(form)
            {
                if (navigator.geolocation) 
                {
                  //var timeoutVal = 10 * 1000 * 1000;
                  //request permission to get coord every 24 hours
                  navigator.geolocation.getCurrentPosition
                  (
                    displayPosition, 
                    displayError,
                    { enableHighAccuracy: true/*, timeout: timeoutVal*/, maximumAge: 0 }     
                  );
                }
                else 
                {
                    alert("Geolocation is not supported by this browser");
                }

                function displayPosition(position) 
                {
                    /*lati = position.coords.latitude;
                    longi = position.coords.longitude;
                    console.log("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude);

                    form.latitude.value = lati;
                    form.longitude.value = longi;*/

                    coord = [ position.coords.longitude, position.coords.latitude ]
                    console.log('Logging coord: ' + coord);
                    //putting the coordinates into the inputfield
                    form.coordinates.value = coord;

                    // getting the values of the inputfield and placing them in an array
                    /*var inputLon = $('#longitude').val();
                    var inputLat = $('#latitude').val();

                    var result = "val lon " + inputLon + " " + "val lat " + inputLat; 
                    console.log("Values in inputfield are " + result); */

                    /*var coordinates = inputLon, inputLat;
                    console.log('The coordinates are: ' + coordinates);*/

                    var location = $('#coordinates').val();
                   /* var coordinates2 = coord ;*/
                    console.log('THE COORD ARE: ' + location);
                    
                }

                function displayError(error) 
                {
                      var errors = 
                      { 
                        1: 'Permission denied',
                        2: 'Position unavailable',
                        3: 'Request timeout'
                      };
                      console.log("Error: " + errors[error.code]);
                }
            }    

            $(document).ready(function()
            {   
                var resultLocalStorageFB = document.getElementById("resultFB");
                var resultLocalStorageTW = document.getElementById("resultTW");

                resultLocalStorageFB.value = localStorage.getItem("useridfb");
                resultLocalStorageTW.value = localStorage.getItem("useridtw");
                console.log(resultLocalStorageFB);
                console.log(resultLocalStorageTW);

                var FbId = $('#resultFB').val();
                var TWId = $('#resultTW').val();
                console.log('Fb Id: ' + FbId);
                console.log('TW Id: ' + TWId);

                var resultLocalStorageFBUsername = document.getElementById("usernameFB");
                resultLocalStorageFBUsername.value = localStorage.getItem("usernameFB");
                console.log(resultLocalStorageFBUsername);
                var Fbusern = $('#usernameFB').val();
                console.log('Fb username: ' + Fbusern);

                var resultLocalStorageTWUsername = document.getElementById("usernameTW");
                resultLocalStorageTWUsername.value = localStorage.getItem("usernameTW");
                console.log(resultLocalStorageTWUsername);
                var TWusern = $('#usernameTW').val();
                console.log('Fb username: ' + TWusern);

                var resultLocalStorageLocalUsername = document.getElementById("localUsername");
                resultLocalStorageLocalUsername.value = localStorage.getItem("usernameLocal");
                console.log(resultLocalStorageLocalUsername);
                var Localusern = $('#localUsername').val();
                console.log('Local username: ' + Localusern);

            });      

        </script>

        <!-- END REVOLUTION SLIDER -->
    </body>
</html>