<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Q&amp;A</title>

        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">  
        <link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="container-fluid">

             <!-- Banner -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>    
                        <!-- Slider  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="images/banner.jpg"  alt="banner"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- Slides -->
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Header Nav -->
            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/"><img class="logoIMD" src="images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 emptyspacing"></div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="/signin" method="post" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                                    <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left btnStart">                            
                                <a href="/newtopic" class="btn btn-primary">Start New Topic</a>
                            </div>

                           <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#"><img src="images/avatarNav.jpg" alt="" /></a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profilefacebook">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="/mytopics">My Topics</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="/logout">Logout</a></li>
                                </ul>
                            </div>

                             <div class="pull-right btnRegLog">                            
                                <a href="/signup" class="btn btn-primary">Sign Up</a>
                                <a href="/signin" class="btn btn-primary">Sign In</a>
                            </div>    
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            
            <section class="content">
                <div class="container">
                <!-- Breadcrumbs -->
                    <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                            <a href="/">Home</a> <span class="diviver">&gt;</span> <a href="/profile">My Profile</a>
                        </div>
                    </div>
                </div><!-- end container -->

                <div class="container">
                    <div class="row">
                        <div class="col-lg-121 col-md-12">
                            <!-- POST -->
                            <div class="post">
                                    <div class="postinfotop">
                                        <h2>Hello <%= user.facebook.name %> </h2>
                                    </div>

                                    <!-- acc section -->
                                    <div class="accsection">
                                        <div class="acccap">
                                        <br>
                                            <div class="userinfo pull-left">&nbsp;</div>
                                            <!-- <div class="posttext pull-left"><h3>Required Fields</h3></div> -->
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="topwrap">
                                            <div class="userinfo pull-left">
                                                <div class="avatarBig">
                                                    <img  src=" <%= user.facebook.profilePic %> " alt="Profile picture FB">
                                                </div>
                                                
                                                <div class="userInfo">
                                                    <!-- FB data -->
                                                    <label for="name">Name:</label>
                                                    <p> <%= user.facebook.name %> </p>
                                                    <br>
                                                    <label for="email">Email:</label>
                                                    <p><%= user.facebook.email %></p>
                                                    
                                                    <!-- To test localstorage retrieval of the user id -->
                                                    <!-- <div id="result"></div> -->
                                                    <!-- put userID in input field -->
                                                    <input type="hidden" id="userIDFB" name="userid" value=" <%= user.facebook.id %>">
                                                    <input type="hidden" id="usernameFb" name="usernameFB" value=" <%= user.facebook.name%>">
                                                </div>
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                        </div>  
                                    </div><!-- acc section END -->                                    
                            </div><!-- POST -->    
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="/"><img class="logoIMD" src="images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 copyright ">Copyright 2015</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script> 
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="javascripts/livereload.js"></script>
       

        <script type="text/javascript">

            var revapi;

            jQuery(document).ready(function() {
                "use strict";
                revapi = jQuery('.tp-banner').revolution(
                        {
                            delay: 15000,
                            startwidth: 1200,
                            startheight: 278,
                            hideThumbs: 10,
                            fullWidth: "on"
                        });

            }); //ready

            $(document).ready(function()
            {
                /*var frontEndUser = !{JSON.stringify(user)};
                localStorage.setItem('user', JSON.stringify(frontEndUser));

                var user = JSON.parse(localStorage.getItem('user'));
                console.log(user);*/

                //get the value of userID from inputfield
                var useridFB = $('#userIDFB').val();
                console.log('FB user id: ' + useridFB);

                localStorage.setItem('useridfb', useridFB);

                var FbUsername = $('#usernameFb').val();
                console.log('FB username: ' + FbUsername);

                localStorage.setItem('usernameFB', FbUsername);
                
                //document.getElementById("result").innerHTML = localStorage.getItem("useridfb");

            });
        </script>

        <!-- END REVOLUTION SLIDER -->
    </body>
</html>