<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Q&amp;A</title>

        <!-- <link href="stylesheets/css/bootstrap.mim.css" rel="stylesheet"> -->  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="../font-awesome-4.3.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/css/style.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/css/animate.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

        <div class="container-fluid">

            <!-- Banner -->
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>	
                        <!-- Slider  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="../images/banner.jpg"  alt="banner"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- Slides -->
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Header Nav -->
            <div class="headernav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/"><img class="logoIMD" src="../images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 emptyspacing"></div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="#" method="post" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics"></div>
                                    <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left btnStart">                            
                                <a href="/newtopic" class="btn btn-primary">Start New Topic</a>
                            </div>

                            <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#"><img class="avatarNav" src="../images/avatarNav.jpg" alt="" /></a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profilefacebook">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="/mytopics">My Topics</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="/logout">Log Out</a></li>
                                </ul>
                            </div>

                            <div class="pull-right btnRegLog">                       
                                <a href="/signup" class="btn btn-primary">Sign Up</a>
                                <a href="/signin" class="btn btn-primary">Sign In</a>
                            </div>  
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 breadcrumbf">
                            <a href="/">Home</a> <span class="diviver">&gt;</span> <a href="#"> <%= topic.topicTitle %> </a> 
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">

                            <!-- Original post -->
                            <div class="postOriginal">
                                <div class="topwrap">
                                    <div class="userinfo pull-left">
                                        <div class="avatar">
                                            <img src="../images/avatar.jpg" alt="" />
                                            <p class="moderatorOriginal"> <%= topic.fbUsername %> </p>
                                            <p class="moderatorOriginal"> <%= topic.twUsername %> </p>
                                            <p class="moderatorOriginal"> <%= topic.localUsername %> </p>
                                        </div>
                                    </div>

                                    <div class="posttext pull-left">
                                        <h2 id="topicTitle"> <%= topic.topicTitle %> </h2>
                                        <p id="topicDescription" class="txtOriginal"> <%= topic.topicDescription %> </p>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="postinfobotOriginal">
                                        <div id="topicDate" class="postedOriginal pull-left"><i class="fa fa-clock-o"></i> Posted on: <%= topic.topicDateCreated %> </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>                              
                            </div><!-- end original post -->

                            <br>

                            <!-- POST USERS-->
                            <!-- comments are pulled from the db-->
                                <ul>
                                <% for(var i = 0; i < comments.length; i++) {%>
                                    <li>
                                        <div class="postComment postComment animated fadeInLeft">
                                            <div class="topwrap">
                                                <div class="containerUlUserInfo">
                                                    <div class="avatar">
                                                        <img src="../images/avatar.jpg" alt="default avatar" />
                                                        <p id="authorUsername" class="usernameParticipant"> <%= comments[i].fbUsername %> </p>
                                                    </div>
                                                </div>
                                                <div class="posttext pull-left">
                                                    <p id="comment"> <%= comments[i].commentBody %> </p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>                              
                                            <div class="postinfobot">

                                                <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on: <%= comments[i].commentDateCreated %> </div>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div><!-- POST -->
                                    </li>
                                <% } %>    
                            </ul>

                            <br>
                            
                            <!-- comments coming live from socket.io -->
                            <ul id="listPost"></ul>



                            <!-- POST A REPLY -->
                            <div class="post">
                                <form action="" class="form" name="commentForm" method="post">
                                    <div class="topwrap">
                                        <div class="userinfo pull-left">
                                            <!-- <div class="avatar">
                                                <img src="images/avatar.jpg" alt="" />
                                                <p class="usernameParticipant">DB</p>
                                            </div> -->
                                        </div>

                                        <div class="posttextReply pull-left">
                                            <div class="textwraper">
                                                <div class="postreply">Post a Reply</div>
                                                <textarea name="reply" id="reply" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Post a reply':this.value;">Post a reply</textarea>
                                                <input type="hidden" id="usernameFB" name="usernameFB" value="">
                                                <input type="hidden" id="usernameTW" name="usernameTW" value="">
                                                <input type="hidden" id="localUsername" name="localUsername" value="">
                                                <input type="hidden" id="topicIdInputField" name="topicIdInputField" value="">
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <input type="hidden" id="currentURL" name="currentURL" value="">

                                    </div>                  

                                    <div class="postinfobot">

                                      <!--   <div class="notechbox pull-left">
                                            <input type="checkbox" name="note" id="note" class="form-control" />
                                        </div>

                                        <div class="pull-left">
                                            <label for="note"> Email me when some one post a reply</label>
                                        </div> -->

                                        <div class="pull-right postreply">
                                            <!-- <div class="customBTN filebutton pull-left">Send Image<input type="file" id="imagefile" accept="image/*"></div> -->
                                            <div class="pull-left customCLASS"><button type="button" id="btnPostComment" class="btn btn-primary">Post Reply</button></div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <!-- Users online (who + how many) -->
                            <div class="sidebarblock">
                                <h3>Users currently participating</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 1</li><br>
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 2</li><br>
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 3</li><br>
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 4</li><br>
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 5</li><br>
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 6</li><br>
                                        <li><img src="../images/avatarNav.jpg" alt="">  User 7</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <!-- Button to share the link with others -->
                            <div class="sidebarblock2">
                                <button type="button" id="btnShareLink" class="btn btn-success">SHARE THIS LINK NOW</button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="/"><img class="logoIMD" src="../images/logo1.jpg" alt="" /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 copyright ">Copyright 2015</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script> 
        <script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="javascripts/livereload.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
       
        <script type="text/javascript">
            
            var x;

            jQuery(document).ready(function() {
                "use strict";
                x = jQuery('.tp-banner').revolution(
                        {
                            delay: 15000,
                            startwidth: 1200,
                            startheight: 278,
                            hideThumbs: 10,
                            fullWidth: "on"
                        });
            });	


/*            function getUrl(form)
            {
                
                //get the current url browser and paste it into a hidden input field
                var urlBrowser = document.getElementById('currentURL').value = window.location.href;
                console.log("Logging the url: " + urlBrowser);
    
            }  */  

            $(document).ready(function()
            {
                var socket = io();
                var result = "";

                // on clicking the button Post Reply the values of the textarea is send to the db
                $("#btnPostComment").on("click", function(e)
                {
                    var commentReply = $('#reply').val();
                    console.log("Logging the value of the texteare: " + commentReply);

                    var resultLocalStorageFBUsername = document.getElementById("usernameFB");
                    resultLocalStorageFBUsername.value = localStorage.getItem("usernameFB");
                    console.log(resultLocalStorageFBUsername);
                    var Fbusern = $('#usernameFB').val();
                    console.log('FB username: ' + Fbusern);

                    var resultLocalStorageTWUsername = document.getElementById("usernameTW");
                    resultLocalStorageTWUsername.value = localStorage.getItem("usernameTW");
                    console.log(resultLocalStorageTWUsername);
                    var TWusern = $('#usernameTW').val();
                    console.log('TW username: ' + TWusern);

                    var resultLocalStorageLocalUsername = document.getElementById("localUsername");
                    resultLocalStorageLocalUsername.value = localStorage.getItem("usernameLocal");
                    console.log(resultLocalStorageLocalUsername);
                    var Localusern = $('#localUsername').val();
                    console.log('Local username: ' + Localusern);

                    //split the url after each slash
                    var pathArray = window.location.pathname.split( '/' );
                    console.log(pathArray);
                    var outputArray = pathArray[2];
                    console.log(outputArray);
                    // put the var outputArray into hidden input field
                    var valueUrl = document.getElementById("topicIdInputField");
                    valueUrl.value = outputArray;

                    var idTopic = $('#topicIdInputField').val();
                    console.log('Id of topic is : ' + idTopic);

                    //passing the data (comments) to the server
                    result = { "commentBody": commentReply, "fbUsername": Fbusern, "twUsername": TWusern ,"localUsername": Localusern, "commentTopicId": idTopic };

                    //makes the connection to the server and send the data 
                    var socket = io.connect('http://localhost:3001');
                    //var socket = io.connect('http://qa-forum.herokuapp.com');
                    socket.emit('sendCommentReply', result);   
                    console.log("Gets send: " + result);

                    // clear the textarea after posting comment
                    $('#reply').val('');

                });   

                //returns the updated data 
                socket.on('updateComment', function (data) 
                {
                    console.log("Updated data: " + data);
                    //data is the value of the textarea = result
                    /*$('#listPost').append('<li><div class="postComment"> <div class="topwrap"><div class="containerUlUserInfo"><div class="avatar"><img src="../images/avatar.jpg" alt="default avatar" /><p id="authorUsername" class="usernameParticipant">' + data.fbUsername + '</p><br></div><div><div class="posttext pull-left"><p id="comment">' + data.commentBody + '<img src="' + data.base64Image + '"/>' +'</p></div><br><div class="postinfobotList"><div id="datePost" class="posted pull-left"> <i class="fa fa-clock-o"> </i> Posted on: ' + data.commentDateCreated + '</div></div><div class="clearfix"></div>' +'</div></div></li>');*/
                    $('#listPost').append('<li><div class="postComment animated fadeInLeft"> <div class="topwrap"><div class="containerUlUserInfo"><div class="avatar"><img src="../images/avatar.jpg" alt="default avatar" /><p id="authorUsername" class="usernameParticipant">' + data.fbUsername + '</p><br></div><div><div class="posttext pull-left"><p id="comment">' + data.commentBody +'</p></div><br><div class="postinfobotList"><div id="datePost" class="posted pull-left"> <i class="fa fa-clock-o"> </i> Posted on: ' + data.commentDateCreated + '</div></div><div class="clearfix"></div>' +'</div></div></li>');
                }); 

                //show the saved data from the db + visualize it on the page
                socket.on('showData', function(output)
                {
                    console.log('Logging update: ' + output);
                
                    for(var i = 0; i < output.length; i++)
                    {
                        $('#listPost').append('<li><div class="postComment animated fadeInLeft"> <div class="topwrap"><div class="containerUlUserInfo"><div class="avatar"><img src="../images/avatar.jpg" alt="default avatar" /><p id="authorUsername" class="usernameParticipant">' + output[i].fbUsername + '</p><br></div><div><div class="posttext pull-left"><p id="comment">' + output[i].commentBody +'</p></div><br><div class="postinfobotList"><div id="datePost" class="posted pull-left"> <i class="fa fa-clock-o"> </i> Posted on: ' + output[i].commentDateCreated + '</div></div><div class="clearfix"></div>' + '</div></div></li>');
                    }
                });

                // on clicking the button Share this link, the users email client opens with the link in it
                $("#btnShareLink").on("click", function(e)
                {
                    var urlBrowser = document.getElementById('currentURL').value = window.location.href;
                    console.log("Logging the url: " + urlBrowser);
                    
                    window.location.href = "mailto:?subject=Share this link from IMD Talks&body= " + urlBrowser;
                });  

            });   

        </script>

    </body>
</html>