/*--- General ---*/

body{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    color: #989c9e;
}

a{
    color: #363838;    
}
a:hover{
    color: #989c9e;    
}

/*-----------------------------------------------------------------*/
/*--- Banner ---*/

.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;
}

.tp-banner{
    width:100%;
    position:relative;
}

.tp-banner-fullscreen-container{
    width:100%;
    position:relative;
    padding:0;
}

/*-----------------------------------------------------------------*/
/*--- Footer ---*/

footer{
    height: 69px;
    line-height: 69px;
    color: #363838;
}

footer .logo{
    line-height: normal;
}

.copyright{
    text-align: center;
}

ul.socialicons li{
    display: inline-block;
    list-style: none;  
    font-size: 18px;
    color:#bdc3c7;
    margin-left: 15px;
}

ul.socialicons li a{
    color:#bdc3c7;
}

ul.socialicons li a:hover{
    color:#363838;
}


/*-----------------------------------------------------------------*/
/*--- Header ---*/
.headernav{
    height: 70px;
    border-bottom: 1px solid #c9cccd;
}

.logoIMD{
    padding-top: 8px
}

.content{
    background-color: #ecf0f1;
    border-top: solid 1px #e0e4e5;
}

.btnStart{
    margin-left: -15px
}

.headernav .search{
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    margin-top: 16px;
    height: 38px
}

.headernav .search  .wrap{
    background-color: #f3f5f9;
    border-radius: 3px;
}

.headernav .search .txt{
    width: 85%;
}

.headernav .search input{
    border: none;
    box-shadow: none;
    background-color: #f3f5f9;
    color: #363838;
    font-size: 14px;
    padding: 8px 19px;
    height: 38px;

}

.headernav .search button{
    border: solid 1px #697683;
    box-shadow: none;
    background-color: #697683;
    color: #ffffff;
    font-size: 18px;
}

/*--- Avatar ---*/
.avt{
    margin-top: 16px;
    height: 38px;
}

.avatarNav{
    margin-top: -5px
}

.avatar{
    position: relative;
    padding-left: 20px;
}

.avatarBig{
    position: relative;
    padding-left: 40px;
    float: left;
    margin-top: -30px;
    margin-bottom: 15px
}

.avatarUpload{
    position: relative;
    padding-left: 20px;
}

.userInfo{
    float: left;
    margin-top: -175px;
    margin-left: 290px
}

.userInfoLocal{
    float: left;
 
    margin-left: 90px
}

.userInfoTw{
    float: left;
    margin-top: -60px;
    margin-left: 140px
}

.parTw{
    width: 700px
}

.avatar img{
    border-radius: 50%;
}

.avatarBig img{
    border-radius: 50%;
}

.avatarUpload img{
    border-radius: 50%;
}

.dropdown.avatar .status{
    right: 14px;
}

.caretl{
    color:#363838;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
}

/*-----------------------------------------------------------------*/
/*--- Content ---*/


#TitleIndex{
    margin-left: 40px !important;
}

/*--- Pagination ---*/
.pager{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-left: 350px
}

.paginationforum li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.paginationforum li a{
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: 'Open Sans Semibold', sans-serif;
    color: #ffffff;
    background-color: #cfd5d7;
    border-radius: 2px;
    display: block;
    padding: 0 8px;
    line-height: 24px;
}

.paginationforum li a.active,
.paginationforum li a:hover,
.paginationforum li a:focus,
.paginationforum li a:active{
    color: #363838;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    font-family: 'Open Sans Bold', sans-serif;
    text-decoration: none;

}

.paginationforum{
    margin: 19px auto;
    padding: 0;
}

.prevnext{
    font-size: 26px;
    color: #cfd5d7;
    margin-top: 11px;
    display: block;
}

.prevnext.last{
    margin-left: 20px;
}

/*--- Post --*/
.post{
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.post .wrap-ut{
    width: 85%;
}

.post .userinfo{
    width: 15%;
    padding: 20px 0 15px 15px;
}

.post .posttext{
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;   
    line-height: 25px;
}

.post .postinfo{
    width: 15%;
    border-left: solid 1px #f1f1f1;
}

.post .avatar{
    width: 37px;
    margin-left: -15px;
}

.post .moderator{
    padding-top: 15px;
    width: 450px
}

.post .icons{
    width: 48px;
    border-top: solid 1px #f1f1f1;
    margin-top: 12px;
    padding-top: 7px;
}

.post .topictitle{
    margin-left: 40px;
    padding-top: 25px;
}

.post h2{
    color: #363838;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;   
    margin-top: 10px;
    margin-bottom: 10px;
}

.post .comments {
    border-bottom: solid 1px #f1f1f1;
    padding: 18px 0 25px 0;
    text-align: center;
}

.post .comments .commentbg{
    background-color: #bdc3c7;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 17px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    position: relative;
}

.post .comments .commentbg .mark{
    width: 11px;
    height: 11px;
    background-color: #bdc3c7;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.post .views{
    border-bottom: solid 1px #f1f1f1;
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    text-align: center;
    line-height: 29px;
}

.post .views i{
    font-size: 14px;
}

.post .time{
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    text-align: center;
    line-height: 29px;
}

.post .time i{
    font-size: 14px;
}

/*-----------------------------------------------------------------*/
/*--- MY TOPICS ---*/

.containerButtons{
    margin-top: 60px;
    padding-left: 25px;
   
}


/*-----------------------------------------------------------------*/
/* TOPIC */

/*--- Topic general layout---*/
.breadcrumbf a , .breadcrumbf{
    color: #bdc3c7;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
    line-height: 62px;
}

.breadcrumbf a:hover{
    text-decoration: underline;
}

.topic .userinfo{
    width: 12%;
}

.topic .posttext{
    width: 88%;
}

.postinfobot{
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 0 30px 0 94px;
}

.postinfobot label{
    color: #bdc3c7;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif; 
}

.btn-primary{
    background-color: #ea3f3c;
    box-shadow: none;
    border-radius: 2px;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    border: none;
    background-color: #ea3f3c;
    box-shadow: none;
}

#result{
   /*color:#fff;*/
}

/*-----------------------------------------------------------------*/
/*--- Topic detail page ---*/

/*--- Sidebar ---*/
.sidebarblock{
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.sidebarblock h3{
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    margin: 0;
    padding: 20px;
    font-weight: bold;
}

.sidebarblock .divline{
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt{
    padding:20px;
}

ul.cats li{
    list-style: none;
    display: block;
    margin:0;
    padding:0;
    line-height: 30px;
}

ul li{
    list-style: none;
}

.containerUlUserInfo{
    padding-top: 20px;
    margin-left: -7px
}

ul.cats{
    margin: 0;
    padding: 0;
}

ul.cats li a{
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 30px;
}

.sidebarblock .blocktxt{

    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
}

.sidebarblock .blocktxt .smal{
    font-size: 12px;
}

.sidebarblock2{
    margin-left: 100px;
    margin-top: 50px
}

.postComment{
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    margin-left: -40px
}

#comment{
    padding-left: 120px;
    margin-top: -65px;
}

#datePost{
    padding-left: 60px;
}


.postOriginal{
    /*background-color: #ea3f3c;*/
    background-color: #000 !important;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.postOriginal .userinfo{
    width: 15%;
    padding: 20px 0 15px 15px;
}

.postOriginal .avatar {
    width: 37px;
    margin-left: -20px;
}

.postOriginal .moderatorOriginal{
    padding-top: 15px;
    color:#fff;
    width: 200px
}

.postOriginal h2 {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;   
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold
}

.postOriginal .posttext{
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;   
    line-height: 25px;
}

.postOriginal .postinfobotOriginal {
    border-top: solid 1px #fff;
    line-height: 50px;
    padding: 0 30px 0 94px;
}

.postOriginal .postedOriginal {
    width: 400px;
    margin-left: 18px;
    font-size: 12px;
    color: #fff;
    font-family: 'Open Sans Regular', sans-serif; 
}

.postinfobotList{
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 0 30px 0 94px;
    margin-left: -45px
}

.post .usernameParticipant{
    padding-top: 15px;
}

.post #authorUsername{
    color: #989c9e;
}

.post #comment{
    color: #989c9e;
    padding-top: 15px !important;
}

.post #datePost{
    color: #989c9e;
}

.postreply{
    font-size: 12px;
    color: #bdc3c7;
    display: block;
    font-family: 'Open Sans Regular', sans-serif; 
}

.textwraper textarea{
    border: none;
    box-shadow: none;
    background-color: #f1f1f1;
    /*    width: 610px;*/
    width: 100%;
}

.textwraper{
    background-color: #f1f1f1;
    border-radius: 2px;
    padding:18px;
}

.post .posttextReply{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;   
    line-height: 25px;
}

/*
button, div.filebutton {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #00b5d6;
  border: 1px solid #00a5c3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .6),
              inset 0 0 10px #008da7;
  font: 600 1.3em/1.7em "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px #006679;
  cursor: pointer;
  padding: 2px 0 2px 0;
  line-height: 1;
}
button:hover, div.filebutton:hover,
button.hover, div.filebutton.hover,
button:active,
button:focus, {
  background: #009cb8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .7),
             inset 0 0 10px #007287;
}

div.filebutton {
  line-height: 24px;
  margin: -7px 0;
  overflow: hidden;
  padding: 2px 0;
  position: relative;
  width: 150px !important;
}

.filebutton input#imagefile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
}

.customBTN{
    margin-top: 10px !important;
    margin-right: 50px;
}

.customCLASS{
    padding-left: 50px;
}
*/
/*-----------------------------------------------------------------*/
/*--- New topic ---*/

.post .posttextnewtopic{
    width: 97%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;   
    line-height: 25px;
    margin-left: 30px
}

.newtopic input[type=text],
.newtopic input[type=password]{
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 50px;
}

.newtopic textarea{
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif; 
    margin-bottom: 20px;
    height: 150px;
}

.newtopic textarea:hover,
.newtopic textarea:focus,
.newtopic textarea:active{
    box-shadow: none;
}

.newtopic p{
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif; 
}

.newtopcheckbox input{
    margin-top: 5px;
    width: 18px;
    height: 18px;
}

.checkbox input{
    margin-right: 7px;
}

.checkbox .fa-facebook-square{
    color: #3b5b99;
    font-size: 20px;
    margin-top: 4px;
}

.checkbox .fa-twitter {
    color: #42c8f4;
    font-size: 20px;
    margin-top: 4px;
}

.postinfotop h2 {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif; 
    padding: 20px;
    margin: 0;
    border-bottom: solid 1px #f1f1f1;
}

.notechbox {
    width: 20px;
}

.notechbox input {
    width: 12px;
    box-shadow: none;
    margin-top: 8px;
    border-color: #bdc3c7;
}

.notechbox input:active,
.notechbox input:focus,
.notechbox input:hover {
    box-shadow: none;
}


/*-----------------------------------------------------------------*/
/*--- Sign up ---*/

.acccap h3{
    padding: 7px;
    margin: 0;
    border-radius: 2px;
    background-color: #ea3f3c;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
}

.h2Reg{
    text-align: center;
}

.acccap .posttext{
    padding-bottom: 0;
}

.containerReg{
    margin-left: -60px
}

.containerRegSoc{
    margin-left: -70px
}

.containerAvatarUpload{
    margin-left: -130px;

}

.acccap .userinfo{
    padding-top: 0;
    padding-bottom: 0;
}

.titleRegLog{
    font-weight: bold
}

.accsection.networks h3{
    background-color: #ea3f3c;
}

.accsection .htext{
    width: 40%;
    float: left; 
}

.networks .btn{
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    text-align: left;
}

.networks .btn-fb{
    background-color: #3b5b99;
}

.networks .btn-tw{
    background-color: #42c8f4;
}

#btnTwitter{
    margin-left: -30px
}

.newaccountpage .postinfobot{
    padding: 0 30px 0 115px;
}

.accsection .imgsize{
    color:#989c9e;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    margin: 10px 0;
    margin-left: 25px
}

.btnAdd{
    margin-left: 25px
}

.accsection input[type=password]{
    margin-bottom: 0;
}


/*-----------------------------------------------------------------*/
/*--- Extra small devices (less 767px) ---*/

@media (max-width: 767px) {
    
    /*--- index.html ---*/
    .container-fluid{
        padding: 0;
    }

    .post .userinfo{
        width: 30%;
        padding: 15px 0 15px 15px;
    }

    .post .posttext{
        width: 70%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post .comments .commentbg{
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i{
        display: block;
        margin-top: 5px;
    }

    .post .views i{
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark{
        left: 36%;
    }

    .post .time,
    .post .views,
    .post .views{
    }

    .headernav{
        height: auto;
    }

    .avt{
        height: auto; 
        margin-bottom: 15px;
    }

    .avatar .dropdown-menu{
        left: auto;
        right: 0;
    }

    .dropdown.avatar b.caret{
        color: #363838;
    }

    .sociconcent{
        text-align: center;
    }

    /*--- Topic detail page---*/
    .postinfobot{
        padding: 10px;
    }

    .postinfobot .likeblock{
        width: 100%;
    }

    .postinfobot .posted{
        width: 200px;
        margin: 0;
    }

    .postinfobot .next{
        width: 76px;
        margin: 0;
    }

    .textwraper textarea{
        width: 175px;
    }

    footer ul.socialicons{
        margin: 0;
        padding: 0;
    }

    /*--- New topic ---*/
    #pass{
        margin-bottom: 20px;
    }

    .accsection .htext, 
    .accsection .hnotice{
        width: 100%;
    }

    .accsection .hnotice{
        font-size: 10px;
    }

    .postinfobot .lblfch{
        width: 80%;
    }
    .postinfobot .lblfch label{
        line-height: normal;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


/*-----------------------------------------------------------------*/
/*--- Small devices (768 - 991px) ---*/

@media (min-width: 768px) and (max-width: 991px) {

    .container-fluid{
        padding: 0;
    }

    .post .userinfo{
        width: 15%;
        padding: 15px 0 15px 15px;
    }

    .post .posttext{
        width: 85%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post .comments .commentbg{
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i{
        display: block;
        margin-top: 5px;
    }

    .post .views i{
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark{
        left: 36%;
    }

    .headernav{
        height: auto;
    }

    .avt{
        height: auto; 
        margin-bottom: 15px;
    }

    .avatar .dropdown-menu{
        left: auto;
        right: 0;
    }

    .dropdown.avatar b.caret{
        color: #363838;
    }
}


/*-----------------------------------------------------------------*/
/*--- Medium devices (992-1200px) ---*/
@media (min-width: 992px) and (max-width: 1200px) {
    .container-fluid{
        padding: 0;
    }

    .headernav .search .txt{
        width: 75%;
    }

    .avatar .dropdown-menu{
        left: auto;
        right: 0;
    }
    ul.socialicons {
        margin-bottom: 0;
    }

    .textwraper textarea{

        width: 100%;
    }
}


/*-----------------------------------------------------------------*/
/*--- Large devices (more 1200px) ---*/
@media (min-width: 1201px) {
    .container-fluid{
        padding: 0;
    }

    .container{
        padding: 0;
    }
}

